{% load static %}
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'images/dog_husky.jpeg' %}" alt="Husky">
            </div>
            <div class="col-3">
                <img src="{% static 'images/cat_balinese.jpg' %}" alt="Balinese Cat">
            </div>
            <div class="col-3">
                <img src="{% static 'images/dog_labrador.jpg' %}" alt="Labrador">
            </div>
        </div>
    </div>
</div>

<!-- Featured Pets -->

<div class="small-container">
    <h2 class="title">Featured Pets</h2>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'pet_details' 'american_short_hair' %}">
                <img src="{% static 'images/cat_american_short.jpg' %}" alt="American Short Hair">
            </a>
            <h4>American Short Hair</h4>
            <p>Age: 2 years</p>
            <p>Price: $50.00</p>
        </div>
        <div class="col-4">
            <a href="{% url 'pet_details' 'husky' %}">
                <img src="{% static 'images/dog_husky.jpeg' %}" alt="Husky">
            </a>
            <h4>Husky</h4>
            <p>Age: 3 years</p>
            <p>Price: $300.00</p>
        </div>
        <div class="col-4">
            <a href="{% url 'pet_details' 'labrador' %}">
                <img src="{% static 'images/dog_labrador.jpg' %}" alt="Labrador">
            </a>
            <h4>Labrador</h4>
            <p>Age: 4 years</p>
            <p>Price: $250.00</p>
        </div>
        <div class="col-4">
            <a href="{% url 'pet_details' 'balinese' %}">
                <img src="{% static 'images/cat_balinese.jpg' %}" alt="Balinese Cat">
            </a>
            <h4>Balinese Cat</h4>
            <p>Age: 1 year</p>
            <p>Price: $100.00</p>
        </div>
    </div>

    <h2 class="title">Latest Arrivals</h2>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'pet_details' 'tiffany' %}">
                <img src="{% static 'images/cat_tiffany.jpeg' %}" alt="tiffany Cat">
            </a>
            <h4>tiffany Cat</h4>
            <p>Age: 2 years</p>
            <p>Price: $150.00</p>
        </div>
        <div class="col-4">
            <a href="{% url 'pet_details' 'beagle' %}">
                <img src="{% static 'images/dog_beagle.jpeg' %}" alt="Beagle">
            </a>
            <h4>Beagle</h4>
            <p>Age: 3 years</p>
            <p>Price: $200.00</p>
        </div>
        <div class="col-4">
            <a href="{% url 'pet_details' 'rottweiler' %}">
                <img src="{% static 'images/dog_rottweiler.jpg' %}" alt="rottweiler">
            </a>
            <h4>rottweiler</h4>
            <p>Age: 2 years</p>
            <p>Price: $250.00</p>
        </div>
        <div class="col-4">
            <a href="{% url 'pet_details' 'siberian' %}">
                <img src="{% static 'images/cat_siberian.jpg' %}" alt="siberian Cat">
            </a>
            <h4>siberian Cat</h4>
            <p>Age: 1 year</p>
            <p>Price: $80.00</p>
        </div>
    </div>
</div>
