{% load static %}

<div class="navbar">
    <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
    </div>
    <nav>
        <ul id="MenuItems">
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'pet_details' %}">Pets</a></li>
            <li><a href="{% url 'about_page' %}">About</a></li>
            <li><a href="{% url 'contact_page' %}">Contact</a></li>


            
            
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Signup</a></li>
            <li><a href="{% url 'user_profile' %}">profile</a></li>
            <li><a href="{% url 'staff_info' %}">services</a></li>
            <li>{% if user.is_authenticated %}
                <li><a href="{% url 'app_view' %}">notification</a></li>
                <li> <a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            </li>
           


        </ul>
    </nav>
    
</div>

